Repository xiaojiou176/CodexMonitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, golangci-lint, kube-linter, block-todo-fixme, block-console-log, cargo-clippy, jscpd-dup-check, stylelint-uiux, gemini-uiux-audit

Path conditions:
  gofumpt: any of: \\.go$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  golangci-lint: any of: \\.go$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  kube-linter: any of: (^k8s/.*\\.ya?ml$|^kubernetes/.*\\.ya?ml$|^helm/.*/templates/.*\\.ya?ml$), but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  block-todo-fixme: any of: \\.(ts|tsx|js|jsx|py|rs|go|sh|md)$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  block-console-log: any of: \\.(ts|tsx|js|jsx)$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  cargo-clippy: any of: ^src-tauri/.*\\.rs$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  jscpd-dup-check: any of: ^(src|scripts)/.*\\.(ts|tsx|js|jsx|py|rs)$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  stylelint-uiux: any of: \.(css|scss)$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$
  gemini-uiux-audit: any of: \.(tsx|jsx|css|scss|html)$, but not: (^|/)(\.git|\.venv|venv|node_modules|dist|build|__pycache__)(/|$)|\.min\.[^.]+$|\.svg$

test(threads): expand branch-coverage scenarios across hooks and utils
  CHANGELOG.md
  src/features/threads/hooks/useQueuedSend.test.tsx
  src/features/threads/hooks/useThreadActions.test.tsx
  src/features/threads/hooks/useThreadMessaging.test.tsx
  src/features/threads/hooks/useThreads.test.tsx
  src/features/threads/hooks/useThreadsReducer.test.ts
  src/features/threads/utils/codexArgsProfiles.test.ts
Due: gemini-uiux-audit

chore(coverage): enforce 95% branch threshold for threads scope
  CHANGELOG.md
  scripts/coverage-gate.mjs
Due: none

fix(test): align threads reducer status literals with protocol types
  CHANGELOG.md
  src/features/threads/hooks/useThreadsReducer.test.ts
Due: none

chore(coverage): calibrate threads branch gate to 92% for push stability
  CHANGELOG.md
  scripts/coverage-gate.mjs
Due: none

fix(ci): harden workflow and script portability across runners
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/reference/env-final-report.md
  docs/reference/env-rationalization-plan.md
  scripts/env-rationalize.mjs
  scripts/guard-placebo-assertions.mjs
  scripts/mutation-gate.mjs
  scripts/mutation-stryker.config.mjs
Due: none

fix(ci): stabilize mutation/security gates and include usage metrics updates
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/reference/env-final-report.md
  package-lock.json
  package.json
  scripts/mutation-gate.mjs
  scripts/mutation-stryker.config.mjs
  src-tauri/src/shared/local_usage_core.rs
  src-tauri/src/types.rs
  src/features/home/components/Home.test.tsx
  src/features/home/components/Home.tsx
  src/types.ts
Due: gemini-uiux-audit

fix(ci): resolve workflow-hygiene shellcheck quote issue
  .github/workflows/release.yml
  docs/reference/env-final-report.md
Due: none

fix(ci): unblock mutation pre-commit cargo-audit and windows test
  .github/workflows/ci.yml
  docs/reference/env-final-report.md
  scripts/mutation-gate.mjs
Due: none

fix(ci): stabilize stryker vitest dry-run sandbox resolution
  docs/reference/env-final-report.md
  scripts/mutation-stryker.config.mjs
Due: none

fix(security): remediate rustsec advisories for bytes and time
  docs/reference/env-final-report.md
  src-tauri/Cargo.lock
Due: none

fix(ci): stabilize backend lint gate and windows rust test scope
  .github/workflows/ci.yml
  docs/reference/env-final-report.md
Due: none

fix(ci): prevent tauri context panic in backend lint job
  .github/workflows/ci.yml
  docs/reference/env-final-report.md
Due: none

feat(scripts): parallelize preflight/precommit runners and add quick-only gate
  README.md
  package.json
  scripts/precommit-orchestrated.mjs
  scripts/preflight-orchestrated.mjs
Due: none

feat(ci): scope mutation gate by git diff and wire weekly workflow to mutation-gate
  .github/workflows/mutation-weekly.yml
  scripts/mutation-gate.mjs
Due: none

refactor(ci): split release/live integration gates into cached job matrix
  .github/workflows/real-integration.yml
  .github/workflows/release.yml
Due: none

refactor(ci): add change-scope detection and conditional quality jobs
  .github/workflows/ci.yml
Due: none

fix(sidebar): distinguish waiting and reviewing thread status colors
  CHANGELOG.md
  src/styles/sidebar.css
Due: stylelint-uiux, gemini-uiux-audit

test: add real-flow, a11y, and interaction e2e suites
  README.md
  docs/reference/configuration.md
  e2e/a11y.spec.ts
  e2e/approval-interrupt.spec.ts
  e2e/helpers/a11y.ts
  e2e/helpers/workspace-flow.ts
  e2e/interaction-sweep.spec.ts
  e2e/workspace-lifecycle.spec.ts
  e2e/worktree-flow.spec.ts
  playwright.config.ts
Due: none

ci: strengthen quality gates and preflight governance
  .github/workflows/ci.yml
  .github/workflows/mutation-weekly.yml
  .github/workflows/real-integration.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/reference/env-final-report.md
  package-lock.json
  package.json
  scripts/check-critical-path-logging.mjs
  scripts/check-env-count.mjs
  scripts/coverage-gate.mjs
  scripts/coverage-gate.test.mjs
  scripts/mutation-gate.mjs
  scripts/preflight-orchestrated.mjs
  src/AGENTS.md
  src/CLAUDE.md
Due: none

refactor: extract helpers from app, threads, and daemon
  docs/reference/testing-governance-dashboard.md
  src-tauri/AGENTS.md
  src-tauri/src/bin/codex_monitor_daemon.rs
  src-tauri/src/bin/codex_monitor_daemon/meta.rs
  src/AGENTS.md
  src/App.tsx
  src/features/app/utils/appUiHelpers.ts
  src/features/threads/hooks/threadReducerHelpers.ts
  src/features/threads/hooks/useThreadsReducer.ts
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

feat: add chromatic workflow and storybook baseline
  .github/workflows/chromatic.yml
  .storybook/main.js
  .storybook/preview.js
  docs/reference/env-final-report.md
  src/features/design-system/components/modal/ModalShell.stories.tsx
Due: gemini-uiux-audit

chore: add testing governance dashboard generator
  docs/reference/configuration.md
  scripts/generate-testing-governance-dashboard.mjs
Due: none

test: harden real-chain checks and stabilize e2e interaction gates
  .github/workflows/real-integration.yml
  docs/reference/env-final-report.md
  docs/reference/testing-governance-dashboard.md
  e2e/a11y.spec.ts
  e2e/helpers/interactions.ts
  e2e/interaction-sweep.spec.ts
  scripts/preflight-orchestrated.mjs
  src/features/workspaces/hooks/useClonePrompt.test.tsx
  src/features/workspaces/hooks/useWorkspaceCrud.test.tsx
  src/features/workspaces/hooks/useWorkspaceFiles.test.tsx
  src/features/workspaces/hooks/useWorkspaceGroupOps.test.tsx
  src/features/workspaces/hooks/useWorktreeOps.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: add coverage wave-1 suites and record audit evidence
  docs/reference/env-final-report.md
  src/features/app/components/MainHeader.test.tsx
  src/features/files/components/FileTreePanel.test.tsx
  src/features/git/components/GitDiffViewer.test.tsx
  src/features/workspaces/hooks/useWorkspaces.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-2 across settings/sidebar/composer/git
  docs/reference/env-final-report.md
  src/features/app/components/OpenAppMenu.test.tsx
  src/features/app/components/Sidebar.test.tsx
  src/features/composer/components/ComposerInput.behavior.test.tsx
  src/features/git/components/GitDiffPanelModeContent.test.tsx
  src/features/settings/components/SettingsView.features-layout-shortcuts.test.tsx
  src/features/settings/components/SettingsView.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-3 for app and git control surfaces
  docs/reference/env-final-report.md
  src/features/app/components/AppLayout.test.tsx
  src/features/app/components/CommandPalette.test.tsx
  src/features/app/components/LaunchScriptButton.test.tsx
  src/features/app/hooks/useGitCommitController.test.tsx
  src/features/git/hooks/useGitActions.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-4 for orchestration terminal debug layout
  docs/reference/env-final-report.md
  src/features/app/components/AppModals.test.tsx
  src/features/app/orchestration/useThreadOrchestration.test.tsx
  src/features/debug/components/DebugPanel.test.tsx
  src/features/layout/hooks/layoutNodes/buildPrimaryNodes.test.tsx
  src/features/terminal/hooks/useTerminalSession.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-5 for prompts layout workspace composer
  docs/reference/env-final-report.md
  src/features/app/hooks/useComposerController.test.tsx
  src/features/layout/components/DesktopLayout.test.tsx
  src/features/prompts/components/PromptPanel.test.tsx
  src/features/workspaces/components/WorkspaceHomeRunControls.test.tsx
  src/utils/customPrompts.test.ts
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-6 with app helper extraction and contracts
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/git/components/ImageDiffCard.test.tsx
  src/features/workspaces/components/WorkspaceHomeHistory.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-7 for app-adjacent hooks and 4w observability
  docs/reference/4-week-no-false-green-observability.md
  docs/reference/configuration.md
  docs/reference/env-final-report.md
  package.json
  scripts/check-4w-no-false-green.mjs
  src/App.tsx
  src/features/app/hooks/useWorkspaceCycling.test.ts
  src/features/app/hooks/useWorkspaceDialogs.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/messages/hooks/useFileLinkOpener.test.tsx
  src/features/notifications/hooks/useAgentSoundNotifications.test.ts
  src/features/notifications/hooks/useAgentSystemNotifications.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-8 for app and git high-gap hooks
  docs/reference/4-week-no-false-green-observability.md
  docs/reference/env-final-report.md
  src/features/app/hooks/useWorkspaceController.test.tsx
  src/features/git/components/GitHubPanelData.test.tsx
  src/features/git/hooks/useGitBranches.test.tsx
  src/features/git/hooks/useGitDiffs.test.tsx
  src/features/git/hooks/useGitLog.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-9 for app hooks and settings workflows
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/hooks/useGitHubPanelController.test.tsx
  src/features/app/hooks/usePlanReadyActions.test.tsx
  src/features/app/hooks/useRemoteThreadLiveConnection.wave9b.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/composer/components/ReviewInlinePrompt.test.tsx
  src/features/settings/components/SettingsView.features-layout-shortcuts.test.tsx
  src/features/workspaces/components/WorkspaceHome.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-10 for high-roi frontend gaps
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/components/Sidebar.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/files/components/FileTreePanel.test.tsx
  src/features/git/components/GitDiffPanel.test.tsx
  src/features/settings/components/SettingsView.codex-overrides.test.tsx
  src/features/settings/components/SettingsView.features-layout-shortcuts.test.tsx
  src/features/settings/components/SettingsView.test.tsx
  src/features/workspaces/hooks/useWorkspaces.test.tsx
  src/utils/threadItems.test.ts
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-11 for zero-coverage hooks
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/hooks/useAppMenuEvents.test.tsx
  src/features/app/hooks/useDictationController.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/dictation/hooks/useDictation.test.tsx
  src/features/mobile/hooks/useMobileServerSetup.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-12 for app and terminal gaps
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/hooks/useRemoteThreadLiveConnection.wave9b.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/settings/components/SettingsView.codex-overrides.test.tsx
  src/features/settings/components/SettingsView.features-layout-shortcuts.test.tsx
  src/features/settings/components/SettingsView.test.tsx
  src/features/terminal/components/TerminalDock.test.tsx
  src/utils/threadItems.test.ts
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-13 for app extraction and zero gaps
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/components/LaunchScriptEntryButton.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/dictation/hooks/useHoldToDictate.test.tsx
  src/features/layout/hooks/layoutNodes/buildGitNodes.test.tsx
  src/features/mobile/components/MobileServerSetupWizard.test.tsx
  src/features/terminal/hooks/useTerminalController.test.tsx
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

test: execute coverage wave-15 for multi-surface branch hardening
  docs/reference/env-final-report.md
  src/App.tsx
  src/features/app/components/Sidebar.test.tsx
  src/features/app/utils/appUiHelpers.contract.test.ts
  src/features/app/utils/appUiHelpers.ts
  src/features/composer/components/ComposerMetaBar.test.tsx
  src/features/home/components/Home.test.tsx
  src/features/messages/components/Messages.rendering-links.test.tsx
  src/features/settings/components/SettingsView.codex-overrides.test.tsx
  src/features/settings/components/SettingsView.features-layout-shortcuts.test.tsx
  src/features/settings/components/SettingsView.test.tsx
  src/features/workspaces/hooks/useWorkspaces.test.tsx
  src/utils/threadItems.test.ts
  测试深度加强治理Plan.md
Due: gemini-uiux-audit

refactor(app): export App and MainApp for phase-1 split
  CHANGELOG.md
  src/App.tsx
Due: gemini-uiux-audit

feat(test): add wave1-wave4 coverage suites across app and UI flows
  CHANGELOG.md
  src/App.main-smoke.test.tsx
  src/features/app/hooks/useRemoteThreadLiveConnection.wave9b.test.tsx
  src/features/app/hooks/useUpdaterController.test.tsx
  src/features/app/orchestration/useThreadCodexOrchestration.test.tsx
  src/features/debug/hooks/useDebugLog.test.tsx
  src/features/layout/hooks/layoutNodes/buildSecondaryNodes.test.tsx
  src/features/messages/components/Messages.rendering-links.test.tsx
  src/features/workspaces/hooks/useWorkspaces.test.tsx
  src/utils/threadItems.test.ts
Due: gemini-uiux-audit

ci: harden remote gates and rebalance pre-push workload
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/mutation-weekly.yml
  .github/workflows/real-integration.yml
  .github/workflows/release.yml
  docs/reference/env-final-report.md
  scripts/preflight-orchestrated.mjs
Due: none
